<div id="<%= dom_id listing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= listing.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= listing.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= listing.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% listing.images.each do |image| %>
      <div><%= link_to image.filename, image %></div>
    <% end %>
  </p>

</div>
