<div class="w-full h-16 flex items-center border-b border-gray-100 fixed top-0 bg-white">
<div class="container px-5 w-full mx-auto flex justify-between items-center">
<%= link_to "/", class: "text-red-600 font-bold text-xl flex items-end gap-2" do %>
<%= image_tag "logo.nav.png", class: "w-10 object-cover" %>
<span> Airbnb </span>
<% end%>

<div class="flex gap-4">
<%= link_to 'About', about_path, class: "rounded-lg border-2 border-gray-100 font-semibold p-2" %>
<% if !current_user %>
<%= link_to "Sign in", new_user_session_path, class: "rounded-lg border-2 border-gray-100 font-semibold p-2"%>
<%= link_to "create account", new_user_registration_path, class: "rounded-lg border-2 border-indigo-500 font-semibold p-2 bg-gradient-to-r from-indigo-500 to-pink-500 text-pink-100" %>
<% else %>

<div class="border-2 border-gray-100 rounded-full p-2">
    <i class="fa-solid fa-user"></i>
    </div>
    <% end %>
</div>
</div>
    </div>